<%= params[:message] if params[:message] %>

</br>
<p>INDEXING ALL USERS:</p>
 <span id="user-container">
<% @users.all.each do  |x| %>
<p><%= link_to x.name, user_path(x) %> // <%= link_to "see what items this user likes", user_path(x), class: "view_items_liked", data: { id: x.id } %></p>
<% end %>
 </span></br>

 <span id="cont_user_likes"></span>

<script>
    
    
    $(() => {
        $(".view_items_liked").on('click', (e) => {
            e.preventDefault()

            $.get(e.currentTarget.href, (data) => {
                $('#cont_user_likes').children().remove()
                $('#cont_user_likes').append(`<p>email: ${data.email}</br> <strong>${data.name}</strong>   likes:</p>`)
                data.liked_items.forEach((item) => {
	            $('#cont_user_likes').append(`<p>${item.item_name}</p>`)
                })
            })
        })
    })
    
</script>