/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
#nav-bar {
  height:10vh;
  background-color:rgba(0,0,0,0.32);
}

.navitem {
  margin-right:5px;
  margin-left:5px;
}

.navlink {
  margin-right:5px;
  margin-left:5px;
  background-color:rgba(255,255,255,0.32);
  padding:5px;
  color:rgba(255,255,255,0.92);
}

#main-content {
  height:90vh;
  margin:5vh;
  margin-right:10vh;
  margin-left:10vh;
  background-color:rgba(0,0,0,0.32);
}

